<%= content_for :title, 'ACME Ltd Run Books' %>

<div class="department">
				
	<h2>Some Run Book Category</h2>
	
	<% @books.each do |book| %>

		<div class="user-card">
					
			<div class="avatar">
				<%= image_tag 'avatar.png', :width => '150' %>

			</div> <!-- .user-card-avatar -->
			
			<div class="details">
				<p><strong><%= link_to book.title, book %></strong></p>
			</div> <!-- .user-card-content -->
		
		</div> <!-- .user-card -->
	  
	<% end %>

</div>

<div style="clear:both"/>

<button class="btn btn-blue btn-check"> 
	<p><%= link_to 'New Book', new_book_path %></p>
</button>

