<%= content_for :title, 'ACME Ltd Run Books > ' + @run.book.title + ' > Run Book Completed'  %>

<p>
  <b>Complete:</b>
  <%= @run.complete %>
</p>

<button class="btn btn-blue btn-check"> 
	<%= link_to 'Send A Mail Of This Run', method: :post, :controller => 'runs', :id => @run.id, :action => 'sendmail'  %>
</button>

<button class="btn btn-blue btn-check"> 
	<%= link_to 'Done', @run.book %>
</button>
