<h2>Run Complete</h2>


<button class="btn btn-blue btn-check"> 
	<%= link_to 'Send A Mail Of This Run', method: :post, :controller => 'runs', :id => @run.id, :action => 'sendmail'  %>
</button>

<button class="btn btn-blue btn-check"> 
	<%= link_to 'Done', @run.book %>
</button>

<br/><br/>
